<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.details">

    <application>
        <activity android:name=".DisplayVideo"></activity>
        <activity android:name=".DisplayWebView"></activity>
    </application>

</manifest>